
  <div class="mt-5">
    <mat-card class="example-card">
      <div class="">
        <div mat-card-avatar class="example-header-image"></div>
        <div style="height: 190px; width: 340px" class="d-flex justify-content-center align-items-center">
          <img mat-card-image src="{{article.urlToImage}}" alt="Photo" >
        </div>
        <div class="mt-3">{{article.title}}</div>
      </div>

      <div>
        <p>
          {{article.description}}
        </p>
      </div>
      <mat-card-actions class="d-flex">
        <button mat-button>{{article.author}}</button>
        <button mat-button>{{article.publishedAt | date}}</button>
      </mat-card-actions>
    </mat-card>
  </div>


